//------------ ANIMATION BG STARS----------------

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}


//------------ NEON----------------


@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $neon,
            0 0 70px $neon, 0 0 80px $neon, 0 0 100px $neon, 0 0 150px $neon;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px $neon,
            0 0 35px $neon, 0 0 40px $neon, 0 0 50px $neon, 0 0 75px $neon;
    }
}